
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Google Sans", sans-serifs;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.title{
    padding: 10px;
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.total{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border: 1px solid grey;
    border-radius: 10px;
    overflow-x: auto;
    padding: 10px;
    color: green;
}
.Field{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    border: 1px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}
.inputField{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 125px;
}
.inputField input{
    height: 20px;
    font-size: 0.8em;
}
.buttonField{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}
.buttonField button{
    color: green;
    font-size: 1em;
    width: 15%;
    height: 25px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.buttonField button:hover{
    background-color: hsla(0, 0%, 50%, 0.151);
}
.expenses{
    font-size: 1.2em;
    padding: 10px;
    width: 250px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.elements{
    height: 50px;
    width: 100%;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
.nameElement{
    color: black;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100%;
    width: 50%;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 1px solid grey;
}
.amountElement{
    color: green;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 1px solid grey;
}
.deleteButton{
    color: red;
    font-size: 0.9em;
    height: 100%;
    width: 15%;
    border: none;
    background-color: transparent;
}
.deleteButton:hover{
    background-color: hsla(0, 0%, 50%, 0.151);
}
.defaultText{
    color: gray;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height: 100px;
}
.errorText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 0.8em;
    margin-right: 15%;
}